@import url('https://fonts.googleapis.com/css?family=Mandali|Muli&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Mandali|Muli:400,700&display=swap');



body{
    background-color: white;
    
}

#menu nav ul li a{
    color: #506a85;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
}

#destaque1{
    text-align: center;
    padding: 70px 150px 0px 150px;

}

#destaque1 h3{
    font-family: 'lato', sans-serif;
    font-size: 44px;
    color: #506a85;
    font-weight: 700;
    margin-bottom: 50px;
}

#destaque1 p{
    font-family: 'source sans pro', sans-serif;
    font-size: 22px;
    color: #73879c;

}

#color{
 background: #e1edf5;
}

#destaque1 button{
    background-color: #00bc9c;
}

#final{
    background-color: #283645;
    color: #707e8c;
}

#destaque2 p{
    font-family: 'source sans pro', sans-serif;
    font-size: 22px;
    color: #a3b1bf;
}

#destaque2 h3{
    font-family: 'lato', sans-serif;
    font-size: 44px;
    color:white;
    font-weight: 700;
    margin-bottom: 50px;
}

#destaque2 button{
    background-color: #00bc9c;
}

